/* html {
	scroll-behavior: smooth;
} */

:root {
	--color-border: rgb(var(--color-gray-200));
}
.dark {
	--color-border: rgb(var(--color-gray-800));
}

* {
	touch-action: manipulation;
}

/*
Set the default cursor for buttons
*/
button,
[role="button"] {
	cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor
*/
:disabled {
	cursor: default;
}
